<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Serviços</span> 
    <a href="" class="link link-hover">Marca</a>
    <a href="" class="link link-hover">Design</a>
    <a href="" class="link link-hover">Marketing</a>
    <a href="" class="link link-hover">Publicidade</a>
  </div> 
  <div>
    <span class="footer-title">Empresa</span> 
    <a href="" class="link link-hover">Sobre</a>
    <a href="" class="link link-hover">Contato</a>
    <a href="" class="link link-hover">Empregos</a>
    <a href="" class="link link-hover">Kit de Imprensa</a>
  </div> 
  <div>
    <span class="footer-title">Legal</span> 
    <a href="" class="link link-hover">Termos de Uso</a>
    <a href="" class="link link-hover">Política de Privacidade</a>
    <a href="" class="link link-hover">Uso de Cookies</a>
  </div>
</footer>