<div *ngIf="!estudante.aprovado">
  <a href="#" (click)="exibir()">{{estudante.nome}}</a> 
</div>
<div *ngIf="estudante.aprovado">
  <a href="#" (click)="exibir()">{{estudante.nome}}</a> 
</div>

<div *ngIf="estudante.aprovado" [class.ligth] = "estudante.aprovado">
 O aluno está APROVADO!<button>Foco!</button><br>
 <textarea #descricao></textarea>
</div>

<div *ngIf="!estudante.aprovado" [class.red] = "!estudante.aprovado">
  O aluno está REPROVADO!<button>Foco!</button><br>
  <textarea #descricao2></textarea>
 </div>
